:root{
    --dk-blue:#020659;
    --med-blue:#020873;
    --med-lt-blue:#030A8C;
    --lt-blue:#2104D9;
    --br-blue:#0D8DFB;
    --br-br-blue:#2699FB;
    --purple:#590242;
    --white:#ffff;
    --black:#000;
}
html{
    background-color: var(--dk-blue);
 }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 834px;
    margin: 0 auto;
    background-color: var(--white);
}
header{
    background-image:linear-gradient(to right, var(--lt-blue), var(--black));
    color: var(--white);
}
nav{
    background-color: var(--med-lt-blue);
}
[href="#first"] {
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
}

nav h2{
    display:none;
}
nav a{
    color:var(--white);
    text-decoration:none;
    padding:20px;
}
nav li{
    display: inline-flex;
}
nav li:hover{
    background-color: #590242;
}
h1 {
    font-size:1.25em;
    text-transform: uppercase;
}
h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
    color:var(--purple);
}
p, dl, dd {
    font-size: 1em;
}
footer p {
    font-size: .75em;
    color: var(--purple);
    text-align: center;
    padding:10px;
}
section{
    margin:20px;
}
header section{
    padding-bottom:20px;
}
dl{
    color:var(--purple);
    display:grid;
    grid-template-columns: .5fr 4fr;
    position: relative;
    top: 320px;
    padding: 5px;
    background-color: var(--white);
}

.scroll{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:800px;
    height: auto;
    overflow: scroll;
}
section.trending h3{
    position: relative;
    top: 340px;
    padding: 5px;
    background-color: var(--white);
}

section.trending h2{
    display: grid;
    grid-column:1/-1;
    top:60px;
}
[href="#moretrending"], [href="#allyourplaylists"], [href="#morecurated"]{
    text-decoration: none;
    color:var(--white);
    background-color:var(--purple);
    border-radius: 5px;
    padding:5px 10px;
}
audio{
    position:relative;
    bottom:200px;
    margin: 0 5px;
}

.playlists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10px 1fr 30px;
    gap:20px;
    margin:60px 0;
}
.playlists h2{
    display: grid;
    grid-row-start:1;
    margin:10px 10px;
}
.curated, section.all{
    display: grid;
    overflow: scroll;
    height:600px;
    width:417px;
    margin:10px 0;
    color: var(--white);
}
.curated h3, .all h3{
    color:var(--white);
}
.all{
    background-color: var(--br-br-blue);
}
.all section{
    background-color: var(--br-blue);
}
.curated{
    background-color: var(--med-lt-blue);
}
.curated section{
    background-color: var(--med-blue);
}
[href="#allyourplaylists"], [href="#morecurated"]{
    display: grid;
    grid-row-start:3;
    width:140px;
}
audio::-webkit-media-controls-enclosure {
    opacity:50%;
}

@media (max-width:500px) {
    body{
        width: 375px;
        margin:0 auto;
    }
    ul {
        overflow: hidden;
        background-color: none;

        max-height: 1rem;
        transition: .2s ease-out;
    }
    ul:hover{
        overflow: visible;
        display:grid;
        grid-template-columns: 1fr;
        gap:1rem;
    }
    .scroll{
        width:360px;
    }
    .curated, section.all{
        width:375px;
        height:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        overflow:scroll;
    }
    .curated section, .all section{
        width: 150px;
    }
    .playlists{
        display: block;
    }
}